@import "variables";
@import "mixins";

.error {
  margin-top: 5rem; // 80px
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; // 16px

  &__subheading {
    font-size: 3rem; // 48px
    font-weight: 700;
    text-align: center;
    color: $grey-color-800;
  }

  &__heading {
    font-size: 5rem; // 80px
    color: $red-color;
    font-weight: 700;
  }

  &__link {
    @include fz16(500, #fff);
    flex: 1;
    border-radius: 0.25rem; // 4px
    background-color: $red-color;
    padding: 1rem; // 16px
    text-decoration: none;
  }
}
