@import "variables";

.product {
  display: block;
  text-decoration: none;
  background-color: #fff;

  &__image {
    width: 100%;
    height: 11.375rem; // 182px
    object-fit: contain;
  }

  &__content {
    border-top: 4px solid $grey-color-200;
    padding: 1rem;

    &__name {
      font-size: 12px;
      line-height: 17px;
      font-weight: 500;
      color: $grey-color-800;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      flex-wrap: wrap;
      margin-top: 0.625rem; // 10px

      &__price {
        font-size: 13px;
        line-height: 13px;
        font-weight: 700;
        color: $grey-color-900;

        &__currency {
          font-size: 10px;
          line-height: 13px;
          font-weight: 500;
          color: $grey-color-500;
        }
      }

      &__rate {
        border: 1px solid $grey-color-300;
        border-radius: 0.75rem; // 12px
        padding: 0.125rem 0.375rem; // 2px 6px
        font-size: 12px; // It's 8px in design but it's too small so I increase it
        line-height: 13px;
        font-weight: 500;
        color: $grey-color-500;

        &__num {
          color: $grey-color-400;
        }
      }
    }
  }
}
