<a routerLink="/product/test" class="product">
  <!-- Product image -->
  <img
    src="https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/thumbnail.png"
    alt="product image"
    width="192"
    height="182"
    class="product__image"
  />

  <div class="product__content">
    <!-- Product title -->
    <p class="product__content__name">Essence Mascara Lash Princess Essence Mascara Lash Princess</p>

    <div class="product__content__row">
      <!-- Price -->
      <p class="product__content__row__price">
        <span class="product__content__row__price__currency">EGP</span> 9.99
      </p>

      <!-- Stars -->
      <p class="product__content__row__rate">
        <ng-icon name="bootstrapStarFill" color="#FAC515" /> 4.5
        <span class="product__content__row__rate__num">(434)</span>
      </p>
    </div>
  </div>
</a>
