<a routerLink="/product/{{ product.id }}" class="product">
  <!-- Product image -->
  <img
    src="{{ product.thumbnail }}"
    alt="{{ product.title }} thumbnail"
    width="192"
    height="182"
    class="product__image"
  />

  <div class="product__content">
    <!-- Product title -->
    <p class="product__content__name">
      {{ product.title }}
    </p>

    <div class="product__content__row">
      <!-- Price -->
      <p class="product__content__row__price">
        <span class="product__content__row__price__currency">EGP</span>
        {{ product.price }}
      </p>

      <!-- Stars -->
      <p class="product__content__row__rate">
        <ng-icon name="bootstrapStarFill" color="#FAC515" />
        {{ product.rating }}
        <span class="product__content__row__rate__num"
          >({{ product.reviews.length }})</span
        >
      </p>
    </div>
  </div>
</a>
