<app-breadcrumb />

<main class="container product">
  <!-- Info -->
  <app-product-info />

  <!-- Overview -->
  <section class="product__section">
    <h2 class="product__section__title">Overview</h2>
    <p class="product__section__text">
      The PS5 console unleashes new gaming possibilities that you never
      anticipated. Experience lightning fast loading with an ultra-high speed
      SSD, deeper immersion with support for haptic feedback, adaptive triggers,
      and 3D Audio, and an all-new generation of incredible PlayStation games.
      Explore uncharted virtual territories and slay dragons with this sleek
      Sony PlayStation 5 gaming console. The 825GB SSD allows ultra-fast load
      times, while 3-D audio output produces crisp acoustics. This Sony
      PlayStation 5 gaming console supports haptic feedback for effortless
      communication in multiplayer setups, and adaptive triggers allow immersive
      gameplay.Integrated I/OThe custom integration of the PS5 console's systems
      lets creators pull data from the SSD so quickly that they can design games
      in ways never before possible.
    </p>
  </section>

  <!-- Highlights -->
  <section class="product__section">
    <h2 class="product__section__title">Highlights</h2>

    <ul class="product__section__text">
      <li>
        Lightning Speed - Harness the power of a custom CPU, GPU, and SSD with
        Integrated I/O that rewrite the rules of what a PlayStation console can
        do.
      </li>
      <li>
        Stunning Games - Marvel at incredible graphics and experience new PS5
        features.
      </li>
      <li>
        Breathtaking Immersion - Discover a deeper gaming experience with
        support for haptic feedback, adaptive triggers, and 3D Audio technology.
      </li>
      <li>
        Enjoy smooth and fluid high-frame-rate gameplay at up to 120fps for
        compatible games.
      </li>
      <li>
        With an HDR tv, supported PS5 games display an unbelievably vibrant and
        lifelike range of colours
      </li>
      <li>
        Enjoy a comfortable, evolved design with an iconic layout and enhanced
        sticks, intuitively interact with select games using the integrated
        motion sensor Hear higher-fidelity sound effects through the built-in
        speaker in supported games
      </li>
    </ul>
  </section>
</main>
