<app-breadcrumb [items]="breadCrumbItems" />

<main class="container product">
  <!-- Info -->
  <app-product-info [product]="product" />

  <!-- Overview -->
  @if (product?.description) {
  <section class="product__section">
    <h2 class="product__section__title">Overview</h2>
    <p class="product__section__text">
      {{ product!.description }}
    </p>
  </section>
  }

  <!-- Highlights -->
  <section class="product__section">
    <h2 class="product__section__title">Highlights</h2>

    <ul class="product__section__text">
      <li>
        Lightning Speed - Harness the power of a custom CPU, GPU, and SSD with
        Integrated I/O that rewrite the rules of what a PlayStation console can
        do.
      </li>
      <li>
        Stunning Games - Marvel at incredible graphics and experience new PS5
        features.
      </li>
      <li>
        Breathtaking Immersion - Discover a deeper gaming experience with
        support for haptic feedback, adaptive triggers, and 3D Audio technology.
      </li>
      <li>
        Enjoy smooth and fluid high-frame-rate gameplay at up to 120fps for
        compatible games.
      </li>
      <li>
        With an HDR tv, supported PS5 games display an unbelievably vibrant and
        lifelike range of colours
      </li>
      <li>
        Enjoy a comfortable, evolved design with an iconic layout and enhanced
        sticks, intuitively interact with select games using the integrated
        motion sensor Hear higher-fidelity sound effects through the built-in
        speaker in supported games
      </li>
    </ul>
  </section>
</main>
