@import "variables";
@import "mixins";

.breadcrumb {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;

  &__divider {
    @include fz12(500, $grey-color-400);
  }

  &__item {
    @include fz12(500, $grey-color-700);
    text-transform: capitalize;
  }
}
