.layout {
  display: flex;
  gap: 4.375rem; // 70px
  margin-top: 2rem; // 32px

  &__aside {
    width: 18.375rem; // 294px

    @media screen and (max-width: $screen-lg-min) {
      position: fixed;
      display: none;
      background: white;
      padding: 2rem; // 32px
      top: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      height: 100vh;
      overflow: auto;

      &--shown {
        display: block;
      }
    }

    &__close {
      position: absolute;
      top: 2rem; // 32px
      right: 2rem; // 32px
      width: 2.5rem; // 40px
      height: 2.5rem; // 40px
      font-size: 1rem; // 16px
      font-weight: 700;
      background: transparent;
      color: $grey-color-800;
      cursor: pointer;

      @media screen and (min-width: #{$screen-lg-min + 1}) {
        display: none;
      }
    }
  }

  &__main {
    flex: 1;
    max-width: 100%;

    &__btn {
      padding: 0.5rem 1rem; // 8px 16px
      color: #101828;
      font-size: 1rem; // 16px
      line-height: 1.25rem; // 20px
      font-weight: 600;
      background-color: transparent;
      border: 1px solid $grey-color-900;
      margin-bottom: 1rem; // 16px
      cursor: pointer;

      @media screen and (min-width: #{$screen-lg-min + 1}) {
        display: none;
      }
    }

    &__results {
      margin-bottom: 2.5rem; // 40px
      font-size: 1rem; // 16px
      line-height: 1.25rem; // 20px
      font-weight: 400;
      color: $grey-color-500;

      &__category {
        font-weight: 700;
        color: $grey-color-900;
      }
    }

    &__content {
      display: grid;
      gap: 1.5rem; // 24px
      grid-template-columns: repeat(5, 1fr);

      @media screen and (max-width: $screen-xl-min) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: $screen-sm-max) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: $screen-sm-min) {
        grid-template-columns: 1fr;
      }

      &__empty {
        font-size: 1rem; // 16px
        line-height: 1.25rem; // 20px
        font-weight: 500;
        color: $red-color;
        text-align: center;
        grid-column: 1/6;
      }
    }
  }
}
