@mixin fz16($font-weight, $color) {
  font-size: 1rem; // 16px
  line-height: 1.25rem; // 20px
  font-weight: $font-weight;
  color: $color;
}

@mixin fz14($font-weight, $color) {
  font-size: 0.85em; // 14px
  line-height: 1rem; // 16px
  font-weight: $font-weight;
  color: $color;
}

@mixin fz12($font-weight, $color) {
  font-size: 0.75em; // 12px
  line-height: 1.125rem; // 18px
  font-weight: $font-weight;
  color: $color;
}

@mixin fz10($font-weight, $color) {
  font-size: 0.625rem; // 10px
  line-height: 0.75rem; // 12px
  font-weight: $font-weight;
  color: $color;
}
