// Sizes
// ---------------

//  Extra small devices (phones, 600px and down)
$screen-sm-max: 600px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
// ---------------
// Blue colors
$blue-color-100: #E6ECFC;
$blue-color-200: #99B4F1;
$blue-color-300: #0036B1;
$blue-color-400: #002985;

// Grey colors
$grey-color-100: #F9FAFB;
$grey-color-200: #F2F4F7;
$grey-color-300: #EAECF0;
$grey-color-400: #D0D5DD;
$grey-color-500: #98A2B3;
$grey-color-600: #667085;
$grey-color-700: #475467;
$grey-color-800: #344054;
$grey-color-900: #1D2939;

// Black color
$black-color: #101828;

// Yellow color
$yellow-color: #FEFBE8;