@import "variables";
@import "mixins";

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  margin: 2rem auto; // 32px auto
  box-shadow: 0px 1px 2px 0px #1018280d;
  list-style: none;
  max-width: 100%;

  &__item {
    @include fz14(600, $grey-color-800);
    display: flex;
    gap: 0.5rem;
    padding: 0.675rem 1rem; // 10px 16px
    background-color: transparent;
    border: 1px solid $grey-color-400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    line-height: 1.25rem;

    &--next {
      border-start-end-radius: 0.5rem; // 8px
      border-end-end-radius: 0.5rem; // 8px
    }

    &--prev {
      border-start-start-radius: 0.5rem; // 8px
      border-end-start-radius: 0.5rem; // 8px
    }

    &--active,
    &:hover {
      background-color: $grey-color-300;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
