<div class="cart">
  @if (cartItems.items.length) {
  <!-- Cart items -->
  <ul class="cart__list">
    @for (item of cartItems.items; track item.product.id) {
    <li class="cart__list__item">
      <img
        src="{{ item.product.thumbnail }}"
        alt="{{ item.product.title }} thumbnail"
        class="cart__list__item__image"
      />

      <div>
        <p class="cart__list__item__title">{{ item.product.title }}</p>

        <div class="cart__list__item__row">
          <!-- Quantity -->
          <p class="cart__list__item__row__qty">QTY: {{ item.quantity }}</p>

          <!-- Price -->
          <p class="cart__list__item__row__price">
            <span class="cart__list__item__row__price__currency">EGP</span>
            {{ item.product.price }}
          </p>
        </div>
      </div>
    </li>
    }
  </ul>
  } @else {
  <!-- Empty cart -->
  <p class="cart__empty">No products in the cart</p>
  }
</div>
