<div class="layout container">
  <aside class="layout__aside">
    <app-filter
      [products]="products"
      (onApplyFilters)="onApplyFilters($event)"
    />
  </aside>

  <div class="layout__main">
    <main class="layout__main__content">
      @if (filteredProducts.length) { @for (product of filteredProducts; track
      product.id) {
      <section>
        <app-product-card [product]="product" />
      </section>
      } } @else {
      <p class="layout__main__content__empty">There are no products matching your filters</p>
      }
    </main>

    <app-pagination
      [total]="total"
      (onChangePageHandler)="onChangePageHandler($event)"
    />
  </div>
</div>
