<section class="info">
  @if (product) {
  <!-- Images -->
  <div class="info__images">
    <div class="info__images__list">
      @for (image of product.images; track image) {
      <button
        class="info__images__list__btn"
        (click)="setThumbnail(image)"
        type="button"
        title="Set this image as thumbnail"
      >
        <img
          src="{{ image }}"
          alt="{{ product.title }} image"
          class="info__images__list__btn__img"
        />
      </button>
      }
    </div>

    <img
      src="{{ thumbnailUrl }}"
      class="info__images__current"
      alt="{{ product.title }} thumbnail"
    />
  </div>

  <!-- Content -->
  <div class="info__content">
    <!-- Title -->
    <h1 class="info__content__title">
      {{ product.title }}
    </h1>

    <!-- Description -->
    <p class="info__content__desc">Model Number : {{ product.sku }}</p>

    <!-- Rate -->
    <p class="info__content__rate">
      <ng-icon name="bootstrapStarFill" color="#FAC515" /> {{ product.rating }}
      <span class="info__content__rate__num"
        >({{ product.reviews.length }})</span
      >
    </p>

    <!-- Price -->
    <p class="info__content__price">
      <span class="info__content__price__currency">EGP</span>
      {{ product.price }}
    </p>

    <!-- Delivery -->
    <p class="info__content__delivery">
      Free Delivery by Tomorrow
      <span class="info__content__delivery__time">Order in 6 hrs 46 mins</span>
    </p>

    <!-- Installment text -->
    <p class="info__content__installment">
      Monthly payment plans from EGP 778
      <a
        href="https://www.converted.in/"
        class="info__content__installment__link"
        target="_blank"
        >View more details</a
      >
    </p>

    <!-- Valu -->
    <img src="/assets/valu.png" alt="Valu pay" />

    <div class="info__content__row">
      <!-- Quantity input -->
      <label for="qty" class="info__content__row__qty">
        <span class="info__content__row__qty__label"> QTY </span>
        <select
          name="qty"
          id="qty"
          class="info__content__row__qty__input"
          [formControl]="quantityInput"
        >
          @for (option of qunatityOptions; track option) {
          <option value="{{ option }}">{{ option }}</option>
          }
        </select>
      </label>

      <!-- Add to cart button -->
      <button
        class="info__content__row__cart"
        type="button"
        (click)="addToCart($event)"
      >
        Add To Cart
      </button>
    </div>
  </div>

  <!-- Options -->
  <ul class="info__options">
    <li class="info__options__item">
      <img
        src="/assets/free-return.svg"
        alt="Free return icon"
        class="info__options__item__img"
        width="36px"
        height="36px"
      />

      <p class="info__options__item__title">FREE RETURNS</p>
      <p class="info__options__item__desc">
        Get free returns on eligible item-s
      </p>
    </li>

    <li class="info__options__item">
      <img
        src="/assets/shipping.svg"
        alt="Free return icon"
        class="info__options__item__img"
        width="36px"
        height="36px"
      />

      <p class="info__options__item__title">TRUSTED SHIPPING</p>
      <p class="info__options__item__desc">
        Free shipping when you spend EGP 200 and above on express items
      </p>
    </li>

    <li class="info__options__item">
      <img
        src="/assets/secure.svg"
        alt="Free return icon"
        class="info__options__item__img"
        width="36px"
        height="36px"
      />

      <p class="info__options__item__title">SECURE SHOPPING</p>
      <p class="info__options__item__desc">Your data is always protected</p>
    </li>
  </ul>
  }
</section>
