@import "variables";
@import "mixins";

.price-filter {
  &__heading {
    @include fz16(700, $grey-color-900);
  }

  &__range {
    display: flex;
    gap: 0.75rem; // 12px
    margin-top: 1.25rem; // 20px
    align-items: center;

    &__label {
      @include fz16(600, $grey-color-500);
    }

    &__input {
      @include fz16(400, $grey-color-600);
      width: 5.5rem; // 88px
      height: 2.5rem; // 40px
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 0.5rem; // 8px
      padding: 0.5rem 0.75rem; // 8px 12px
      border: 1px solid $grey-color-400;
      box-shadow: 0px 1px 2px 0px #1018280d;
      appearance: textfield;
      /* Firefox */
      -moz-appearance: textfield;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
