<div class="price-filter">
  <h2 class="price-filter__heading">Price Range (EGP)</h2>

  <div class="price-filter__range">
    <label for="min-price" class="price-filter__range__label">From</label>
    <input
      type="number"
      name="min_price"
      id="min-price"
      class="price-filter__range__input"
      min="{{ range.min }}"
      max="{{ range.max }}"
      value="{{ minPrice }}"
      (change)="onChangeMinPrice($event)"
    />

    <label for="max-price" class="price-filter__range__label">To</label>
    <input
      type="number"
      name="max_price"
      id="max-price"
      class="price-filter__range__input"
      min="{{ range.min }}"
      max="{{ range.max }}"
      value="{{ maxPrice }}"
      (change)="onChangeMaxPrice($event)"
    />
  </div>
</div>
