<div class="price-filter">
  <h2 class="price-filter__heading">Price Range (EGP)</h2>

  <div class="price-filter__range">
    <label for="min-price" class="price-filter__range__label">From</label>
    <input
      type="number"
      placeholder="100"
      name="min_price"
      id="min-price"
      class="price-filter__range__input"
      min="0"
    />

    <label for="max-price" class="price-filter__range__label">To</label>
    <input
      type="number"
      placeholder="10,000"
      name="max_price"
      id="max-price"
      class="price-filter__range__input"
      min="0"
    />
  </div>
</div>
