/* You can add global styles to this file, and also import other style files */
@import "./styles/variables";
@import "./styles/mixins";

html, body {
  font-family: "Inter";
  margin: 0;
}

.container {
  padding: 0 48px;
}